@charset "UTF-8";
/* line 77, ../sass/style.scss */
html:before, html:after {
  display: none;
}
/* line 81, ../sass/style.scss */
html:before {
  content: "4.844, 3.214, 3.155";
}
/* line 84, ../sass/style.scss */
html:after {
  content: "529, 729, 1369";
}

/* line 89, ../sass/style.scss */
body {
  line-height: 1.618em;
  font-size: 14px;
}
@media (min-width: 289px) {
  /* line 89, ../sass/style.scss */
  body {
    font-size: 17px;
  }
}
@media (min-width: 529px) {
  /* line 89, ../sass/style.scss */
  body {
    font-size: 23px;
  }
}
@media (min-width: 729px) {
  /* line 89, ../sass/style.scss */
  body {
    font-size: 27px;
  }
}
@media (min-width: 1369px) {
  /* line 89, ../sass/style.scss */
  body {
    font-size: 37px;
  }
}

/* line 150, ../sass/style.scss */
#page-wrapper {
  *zoom: 1;
  max-width: 82.757em;
  _width: 82.757em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.403em;
  padding-right: 1.403em;
}
/* line 38, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 289px) {
  /* line 150, ../sass/style.scss */
  #page-wrapper {
    max-width: 77.889em;
  }
}
@media (min-width: 529px) {
  /* line 150, ../sass/style.scss */
  #page-wrapper {
    max-width: 57.57em;
  }
}
@media (min-width: 729px) {
  /* line 150, ../sass/style.scss */
  #page-wrapper {
    max-width: 49.041em;
  }
}
@media (min-width: 1369px) {
  /* line 150, ../sass/style.scss */
  #page-wrapper {
    max-width: 35.787em;
  }
}

@media (min-width: 1369px) {
  /* line 157, ../sass/style.scss */
  #main-content {
    background: red;
  }
}
