@charset "UTF-8";
/* line 35, ../sass/aura/_mixins.scss */
#sidebar-first {
  clear: both;
  float: none;
}
@media screen and (min-width: 13.928em) {
  /* line 35, ../sass/aura/_mixins.scss */
  #sidebar-first {
    clear: none;
    width: 25.676%;
    float: left;
    margin-right: 1.351%;
    display: inline;
  }
}
@media screen and (min-width: 13.928em) {
  /* line 35, ../sass/aura/_mixins.scss */
  #sidebar-first {
    float: left;
  }
}

/* line 78, ../sass/aura/_mixins.scss */
#sidebar-second {
  clear: both;
  float: none;
}
@media screen and (min-width: 13.928em) {
  /* line 78, ../sass/aura/_mixins.scss */
  #sidebar-second {
    clear: none;
    width: 12.162%;
    float: left;
    margin-right: 1.351%;
    display: inline;
  }
}
@media screen and (min-width: 13.928em) {
  /* line 78, ../sass/aura/_mixins.scss */
  #sidebar-second {
    float: right;
    margin-right: -72.973%;
  }
}

/* line 140, ../sass/aura/_mixins.scss */
html {
  font-size: 1.125em;
  line-height: 1.425em;
}

/* line 172, ../sass/aura/_mixins.scss */
img, object, embed, iframe, video, audio {
  max-width: 100%;
}

/* line 178, ../sass/aura/_mixins.scss */
#main-content {
  clear: both;
  float: none;
}
@media screen and (min-width: 13.928em) {
  /* line 178, ../sass/aura/_mixins.scss */
  #main-content {
    clear: none;
    width: 59.459%;
    float: left;
    margin-right: 1.351%;
    display: inline;
  }
}
@media screen and (min-width: 13.928em) {
  /* line 178, ../sass/aura/_mixins.scss */
  #main-content {
    float: right;
    margin-right: 13.514%;
  }
}

/* line 219, ../sass/aura/_mixins.scss */
#page-wrapper {
  *zoom: 1;
  max-width: 51.93em;
  _width: 51.93em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.702em;
  padding-right: 0.702em;
}
/* line 38, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/style-2.scss */
#page-wrapper {
  font-family: 'Poly', serif;
  background-color: red;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.405%, rgba(100, 100, 225, 0.25)), color-stop(5.405%, rgba(0, 0, 0, 0)), color-stop(6.757%, rgba(0, 0, 0, 0)), color-stop(6.757%, rgba(100, 100, 225, 0.25)), color-stop(12.162%, rgba(100, 100, 225, 0.25)), color-stop(12.162%, rgba(0, 0, 0, 0)), color-stop(13.514%, rgba(0, 0, 0, 0)), color-stop(13.514%, rgba(100, 100, 225, 0.25)), color-stop(18.919%, rgba(100, 100, 225, 0.25)), color-stop(18.919%, rgba(0, 0, 0, 0)), color-stop(20.27%, rgba(0, 0, 0, 0)), color-stop(20.27%, rgba(100, 100, 225, 0.25)), color-stop(25.676%, rgba(100, 100, 225, 0.25)), color-stop(25.676%, rgba(0, 0, 0, 0)), color-stop(27.027%, rgba(0, 0, 0, 0)), color-stop(27.027%, rgba(100, 100, 225, 0.25)), color-stop(32.432%, rgba(100, 100, 225, 0.25)), color-stop(32.432%, rgba(0, 0, 0, 0)), color-stop(33.784%, rgba(0, 0, 0, 0)), color-stop(33.784%, rgba(100, 100, 225, 0.25)), color-stop(39.189%, rgba(100, 100, 225, 0.25)), color-stop(39.189%, rgba(0, 0, 0, 0)), color-stop(40.541%, rgba(0, 0, 0, 0)), color-stop(40.541%, rgba(100, 100, 225, 0.25)), color-stop(45.946%, rgba(100, 100, 225, 0.25)), color-stop(45.946%, rgba(0, 0, 0, 0)), color-stop(47.297%, rgba(0, 0, 0, 0)), color-stop(47.297%, rgba(100, 100, 225, 0.25)), color-stop(52.703%, rgba(100, 100, 225, 0.25)), color-stop(52.703%, rgba(0, 0, 0, 0)), color-stop(54.054%, rgba(0, 0, 0, 0)), color-stop(54.054%, rgba(100, 100, 225, 0.25)), color-stop(59.459%, rgba(100, 100, 225, 0.25)), color-stop(59.459%, rgba(0, 0, 0, 0)), color-stop(60.811%, rgba(0, 0, 0, 0)), color-stop(60.811%, rgba(100, 100, 225, 0.25)), color-stop(66.216%, rgba(100, 100, 225, 0.25)), color-stop(66.216%, rgba(0, 0, 0, 0)), color-stop(67.568%, rgba(0, 0, 0, 0)), color-stop(67.568%, rgba(100, 100, 225, 0.25)), color-stop(72.973%, rgba(100, 100, 225, 0.25)), color-stop(72.973%, rgba(0, 0, 0, 0)), color-stop(74.324%, rgba(0, 0, 0, 0)), color-stop(74.324%, rgba(100, 100, 225, 0.25)), color-stop(79.73%, rgba(100, 100, 225, 0.25)), color-stop(79.73%, rgba(0, 0, 0, 0)), color-stop(81.081%, rgba(0, 0, 0, 0)), color-stop(81.081%, rgba(100, 100, 225, 0.25)), color-stop(86.486%, rgba(100, 100, 225, 0.25)), color-stop(86.486%, rgba(0, 0, 0, 0)), color-stop(87.838%, rgba(0, 0, 0, 0)), color-stop(87.838%, rgba(100, 100, 225, 0.25)), color-stop(93.243%, rgba(100, 100, 225, 0.25)), color-stop(93.243%, rgba(0, 0, 0, 0)), color-stop(94.595%, rgba(0, 0, 0, 0)), color-stop(94.595%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.405%, rgba(0, 0, 0, 0) 5.405%, rgba(0, 0, 0, 0) 6.757%, rgba(100, 100, 225, 0.25) 6.757%, rgba(100, 100, 225, 0.25) 12.162%, rgba(0, 0, 0, 0) 12.162%, rgba(0, 0, 0, 0) 13.514%, rgba(100, 100, 225, 0.25) 13.514%, rgba(100, 100, 225, 0.25) 18.919%, rgba(0, 0, 0, 0) 18.919%, rgba(0, 0, 0, 0) 20.27%, rgba(100, 100, 225, 0.25) 20.27%, rgba(100, 100, 225, 0.25) 25.676%, rgba(0, 0, 0, 0) 25.676%, rgba(0, 0, 0, 0) 27.027%, rgba(100, 100, 225, 0.25) 27.027%, rgba(100, 100, 225, 0.25) 32.432%, rgba(0, 0, 0, 0) 32.432%, rgba(0, 0, 0, 0) 33.784%, rgba(100, 100, 225, 0.25) 33.784%, rgba(100, 100, 225, 0.25) 39.189%, rgba(0, 0, 0, 0) 39.189%, rgba(0, 0, 0, 0) 40.541%, rgba(100, 100, 225, 0.25) 40.541%, rgba(100, 100, 225, 0.25) 45.946%, rgba(0, 0, 0, 0) 45.946%, rgba(0, 0, 0, 0) 47.297%, rgba(100, 100, 225, 0.25) 47.297%, rgba(100, 100, 225, 0.25) 52.703%, rgba(0, 0, 0, 0) 52.703%, rgba(0, 0, 0, 0) 54.054%, rgba(100, 100, 225, 0.25) 54.054%, rgba(100, 100, 225, 0.25) 59.459%, rgba(0, 0, 0, 0) 59.459%, rgba(0, 0, 0, 0) 60.811%, rgba(100, 100, 225, 0.25) 60.811%, rgba(100, 100, 225, 0.25) 66.216%, rgba(0, 0, 0, 0) 66.216%, rgba(0, 0, 0, 0) 67.568%, rgba(100, 100, 225, 0.25) 67.568%, rgba(100, 100, 225, 0.25) 72.973%, rgba(0, 0, 0, 0) 72.973%, rgba(0, 0, 0, 0) 74.324%, rgba(100, 100, 225, 0.25) 74.324%, rgba(100, 100, 225, 0.25) 79.73%, rgba(0, 0, 0, 0) 79.73%, rgba(0, 0, 0, 0) 81.081%, rgba(100, 100, 225, 0.25) 81.081%, rgba(100, 100, 225, 0.25) 86.486%, rgba(0, 0, 0, 0) 86.486%, rgba(0, 0, 0, 0) 87.838%, rgba(100, 100, 225, 0.25) 87.838%, rgba(100, 100, 225, 0.25) 93.243%, rgba(0, 0, 0, 0) 93.243%, rgba(0, 0, 0, 0) 94.595%, rgba(100, 100, 225, 0.25) 94.595%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.405%, rgba(0, 0, 0, 0) 5.405%, rgba(0, 0, 0, 0) 6.757%, rgba(100, 100, 225, 0.25) 6.757%, rgba(100, 100, 225, 0.25) 12.162%, rgba(0, 0, 0, 0) 12.162%, rgba(0, 0, 0, 0) 13.514%, rgba(100, 100, 225, 0.25) 13.514%, rgba(100, 100, 225, 0.25) 18.919%, rgba(0, 0, 0, 0) 18.919%, rgba(0, 0, 0, 0) 20.27%, rgba(100, 100, 225, 0.25) 20.27%, rgba(100, 100, 225, 0.25) 25.676%, rgba(0, 0, 0, 0) 25.676%, rgba(0, 0, 0, 0) 27.027%, rgba(100, 100, 225, 0.25) 27.027%, rgba(100, 100, 225, 0.25) 32.432%, rgba(0, 0, 0, 0) 32.432%, rgba(0, 0, 0, 0) 33.784%, rgba(100, 100, 225, 0.25) 33.784%, rgba(100, 100, 225, 0.25) 39.189%, rgba(0, 0, 0, 0) 39.189%, rgba(0, 0, 0, 0) 40.541%, rgba(100, 100, 225, 0.25) 40.541%, rgba(100, 100, 225, 0.25) 45.946%, rgba(0, 0, 0, 0) 45.946%, rgba(0, 0, 0, 0) 47.297%, rgba(100, 100, 225, 0.25) 47.297%, rgba(100, 100, 225, 0.25) 52.703%, rgba(0, 0, 0, 0) 52.703%, rgba(0, 0, 0, 0) 54.054%, rgba(100, 100, 225, 0.25) 54.054%, rgba(100, 100, 225, 0.25) 59.459%, rgba(0, 0, 0, 0) 59.459%, rgba(0, 0, 0, 0) 60.811%, rgba(100, 100, 225, 0.25) 60.811%, rgba(100, 100, 225, 0.25) 66.216%, rgba(0, 0, 0, 0) 66.216%, rgba(0, 0, 0, 0) 67.568%, rgba(100, 100, 225, 0.25) 67.568%, rgba(100, 100, 225, 0.25) 72.973%, rgba(0, 0, 0, 0) 72.973%, rgba(0, 0, 0, 0) 74.324%, rgba(100, 100, 225, 0.25) 74.324%, rgba(100, 100, 225, 0.25) 79.73%, rgba(0, 0, 0, 0) 79.73%, rgba(0, 0, 0, 0) 81.081%, rgba(100, 100, 225, 0.25) 81.081%, rgba(100, 100, 225, 0.25) 86.486%, rgba(0, 0, 0, 0) 86.486%, rgba(0, 0, 0, 0) 87.838%, rgba(100, 100, 225, 0.25) 87.838%, rgba(100, 100, 225, 0.25) 93.243%, rgba(0, 0, 0, 0) 93.243%, rgba(0, 0, 0, 0) 94.595%, rgba(100, 100, 225, 0.25) 94.595%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.405%, rgba(0, 0, 0, 0) 5.405%, rgba(0, 0, 0, 0) 6.757%, rgba(100, 100, 225, 0.25) 6.757%, rgba(100, 100, 225, 0.25) 12.162%, rgba(0, 0, 0, 0) 12.162%, rgba(0, 0, 0, 0) 13.514%, rgba(100, 100, 225, 0.25) 13.514%, rgba(100, 100, 225, 0.25) 18.919%, rgba(0, 0, 0, 0) 18.919%, rgba(0, 0, 0, 0) 20.27%, rgba(100, 100, 225, 0.25) 20.27%, rgba(100, 100, 225, 0.25) 25.676%, rgba(0, 0, 0, 0) 25.676%, rgba(0, 0, 0, 0) 27.027%, rgba(100, 100, 225, 0.25) 27.027%, rgba(100, 100, 225, 0.25) 32.432%, rgba(0, 0, 0, 0) 32.432%, rgba(0, 0, 0, 0) 33.784%, rgba(100, 100, 225, 0.25) 33.784%, rgba(100, 100, 225, 0.25) 39.189%, rgba(0, 0, 0, 0) 39.189%, rgba(0, 0, 0, 0) 40.541%, rgba(100, 100, 225, 0.25) 40.541%, rgba(100, 100, 225, 0.25) 45.946%, rgba(0, 0, 0, 0) 45.946%, rgba(0, 0, 0, 0) 47.297%, rgba(100, 100, 225, 0.25) 47.297%, rgba(100, 100, 225, 0.25) 52.703%, rgba(0, 0, 0, 0) 52.703%, rgba(0, 0, 0, 0) 54.054%, rgba(100, 100, 225, 0.25) 54.054%, rgba(100, 100, 225, 0.25) 59.459%, rgba(0, 0, 0, 0) 59.459%, rgba(0, 0, 0, 0) 60.811%, rgba(100, 100, 225, 0.25) 60.811%, rgba(100, 100, 225, 0.25) 66.216%, rgba(0, 0, 0, 0) 66.216%, rgba(0, 0, 0, 0) 67.568%, rgba(100, 100, 225, 0.25) 67.568%, rgba(100, 100, 225, 0.25) 72.973%, rgba(0, 0, 0, 0) 72.973%, rgba(0, 0, 0, 0) 74.324%, rgba(100, 100, 225, 0.25) 74.324%, rgba(100, 100, 225, 0.25) 79.73%, rgba(0, 0, 0, 0) 79.73%, rgba(0, 0, 0, 0) 81.081%, rgba(100, 100, 225, 0.25) 81.081%, rgba(100, 100, 225, 0.25) 86.486%, rgba(0, 0, 0, 0) 86.486%, rgba(0, 0, 0, 0) 87.838%, rgba(100, 100, 225, 0.25) 87.838%, rgba(100, 100, 225, 0.25) 93.243%, rgba(0, 0, 0, 0) 93.243%, rgba(0, 0, 0, 0) 94.595%, rgba(100, 100, 225, 0.25) 94.595%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.405%, rgba(0, 0, 0, 0) 5.405%, rgba(0, 0, 0, 0) 6.757%, rgba(100, 100, 225, 0.25) 6.757%, rgba(100, 100, 225, 0.25) 12.162%, rgba(0, 0, 0, 0) 12.162%, rgba(0, 0, 0, 0) 13.514%, rgba(100, 100, 225, 0.25) 13.514%, rgba(100, 100, 225, 0.25) 18.919%, rgba(0, 0, 0, 0) 18.919%, rgba(0, 0, 0, 0) 20.27%, rgba(100, 100, 225, 0.25) 20.27%, rgba(100, 100, 225, 0.25) 25.676%, rgba(0, 0, 0, 0) 25.676%, rgba(0, 0, 0, 0) 27.027%, rgba(100, 100, 225, 0.25) 27.027%, rgba(100, 100, 225, 0.25) 32.432%, rgba(0, 0, 0, 0) 32.432%, rgba(0, 0, 0, 0) 33.784%, rgba(100, 100, 225, 0.25) 33.784%, rgba(100, 100, 225, 0.25) 39.189%, rgba(0, 0, 0, 0) 39.189%, rgba(0, 0, 0, 0) 40.541%, rgba(100, 100, 225, 0.25) 40.541%, rgba(100, 100, 225, 0.25) 45.946%, rgba(0, 0, 0, 0) 45.946%, rgba(0, 0, 0, 0) 47.297%, rgba(100, 100, 225, 0.25) 47.297%, rgba(100, 100, 225, 0.25) 52.703%, rgba(0, 0, 0, 0) 52.703%, rgba(0, 0, 0, 0) 54.054%, rgba(100, 100, 225, 0.25) 54.054%, rgba(100, 100, 225, 0.25) 59.459%, rgba(0, 0, 0, 0) 59.459%, rgba(0, 0, 0, 0) 60.811%, rgba(100, 100, 225, 0.25) 60.811%, rgba(100, 100, 225, 0.25) 66.216%, rgba(0, 0, 0, 0) 66.216%, rgba(0, 0, 0, 0) 67.568%, rgba(100, 100, 225, 0.25) 67.568%, rgba(100, 100, 225, 0.25) 72.973%, rgba(0, 0, 0, 0) 72.973%, rgba(0, 0, 0, 0) 74.324%, rgba(100, 100, 225, 0.25) 74.324%, rgba(100, 100, 225, 0.25) 79.73%, rgba(0, 0, 0, 0) 79.73%, rgba(0, 0, 0, 0) 81.081%, rgba(100, 100, 225, 0.25) 81.081%, rgba(100, 100, 225, 0.25) 86.486%, rgba(0, 0, 0, 0) 86.486%, rgba(0, 0, 0, 0) 87.838%, rgba(100, 100, 225, 0.25) 87.838%, rgba(100, 100, 225, 0.25) 93.243%, rgba(0, 0, 0, 0) 93.243%, rgba(0, 0, 0, 0) 94.595%, rgba(100, 100, 225, 0.25) 94.595%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.405%, rgba(0, 0, 0, 0) 5.405%, rgba(0, 0, 0, 0) 6.757%, rgba(100, 100, 225, 0.25) 6.757%, rgba(100, 100, 225, 0.25) 12.162%, rgba(0, 0, 0, 0) 12.162%, rgba(0, 0, 0, 0) 13.514%, rgba(100, 100, 225, 0.25) 13.514%, rgba(100, 100, 225, 0.25) 18.919%, rgba(0, 0, 0, 0) 18.919%, rgba(0, 0, 0, 0) 20.27%, rgba(100, 100, 225, 0.25) 20.27%, rgba(100, 100, 225, 0.25) 25.676%, rgba(0, 0, 0, 0) 25.676%, rgba(0, 0, 0, 0) 27.027%, rgba(100, 100, 225, 0.25) 27.027%, rgba(100, 100, 225, 0.25) 32.432%, rgba(0, 0, 0, 0) 32.432%, rgba(0, 0, 0, 0) 33.784%, rgba(100, 100, 225, 0.25) 33.784%, rgba(100, 100, 225, 0.25) 39.189%, rgba(0, 0, 0, 0) 39.189%, rgba(0, 0, 0, 0) 40.541%, rgba(100, 100, 225, 0.25) 40.541%, rgba(100, 100, 225, 0.25) 45.946%, rgba(0, 0, 0, 0) 45.946%, rgba(0, 0, 0, 0) 47.297%, rgba(100, 100, 225, 0.25) 47.297%, rgba(100, 100, 225, 0.25) 52.703%, rgba(0, 0, 0, 0) 52.703%, rgba(0, 0, 0, 0) 54.054%, rgba(100, 100, 225, 0.25) 54.054%, rgba(100, 100, 225, 0.25) 59.459%, rgba(0, 0, 0, 0) 59.459%, rgba(0, 0, 0, 0) 60.811%, rgba(100, 100, 225, 0.25) 60.811%, rgba(100, 100, 225, 0.25) 66.216%, rgba(0, 0, 0, 0) 66.216%, rgba(0, 0, 0, 0) 67.568%, rgba(100, 100, 225, 0.25) 67.568%, rgba(100, 100, 225, 0.25) 72.973%, rgba(0, 0, 0, 0) 72.973%, rgba(0, 0, 0, 0) 74.324%, rgba(100, 100, 225, 0.25) 74.324%, rgba(100, 100, 225, 0.25) 79.73%, rgba(0, 0, 0, 0) 79.73%, rgba(0, 0, 0, 0) 81.081%, rgba(100, 100, 225, 0.25) 81.081%, rgba(100, 100, 225, 0.25) 86.486%, rgba(0, 0, 0, 0) 86.486%, rgba(0, 0, 0, 0) 87.838%, rgba(100, 100, 225, 0.25) 87.838%, rgba(100, 100, 225, 0.25) 93.243%, rgba(0, 0, 0, 0) 93.243%, rgba(0, 0, 0, 0) 94.595%, rgba(100, 100, 225, 0.25) 94.595%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
@media screen and (max-width: 1000px) {
  /* line 22, ../sass/style-2.scss */
  #page-wrapper {
    background-color: green;
  }
}
@media print and (width: 1000px) {
  /* line 22, ../sass/style-2.scss */
  #page-wrapper {
    background-color: yellow;
  }
}

/* line 37, ../sass/style-2.scss */
#main-content {
  color: white;
  background-color: red;
}
@media screen and (min-width: 13.928em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: orange;
  }
}
@media screen and (min-width: 22.536em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: green;
  }
}
@media screen and (min-width: 36.464em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: blue;
  }
}
@media screen and (min-width: 59em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: purple;
  }
}

/* line 56, ../sass/style-2.scss */
#sidebar-first {
  color: black;
}

/* line 61, ../sass/style-2.scss */
#sidebar-second {
  color: black;
}
