@charset "UTF-8";
/* line 131, ../compass/stylesheets/_aura.scss */
#main-content:before {
  content: 'This is the measure tester. Each asterisk marks the * approximate min and max * width for your measure. You should adjust the gene * rated breakpoints using * the $breakpoint-overrides variable in order to kee * p your measure ideal. Y *  ou can also adjust the full size with $full-width- * override. Happy theming *';
  display: block;
  position: relative;
}

/* line 108, ../compass/stylesheets/_aura.scss */
html {
  line-height: 1.618em;
  font-size: 0.875em;
}
@media (min-width: 39.125em) {
  /* line 108, ../compass/stylesheets/_aura.scss */
  html {
    font-size: 1.05em;
  }
}
@media (min-width: 45.375em) {
  /* line 108, ../compass/stylesheets/_aura.scss */
  html {
    font-size: 1.416em;
  }
}
@media (min-width: 75em) {
  /* line 108, ../compass/stylesheets/_aura.scss */
  html {
    font-size: 1.7em;
  }
}
@media (min-width: 87.5em) {
  /* line 108, ../compass/stylesheets/_aura.scss */
  html {
    font-size: 2.291em;
  }
}

/* line 18, ../sass/style.scss */
#page-wrapper {
  *zoom: 1;
  max-width: 84.631em;
  _width: 84.631em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.434em;
  padding-right: 1.434em;
}
/* line 38, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 39.125em) {
  /* line 18, ../sass/style.scss */
  #page-wrapper {
    max-width: 80.567em;
  }
}
@media (min-width: 45.375em) {
  /* line 18, ../sass/style.scss */
  #page-wrapper {
    max-width: 59.778em;
  }
}
@media (min-width: 75em) {
  /* line 18, ../sass/style.scss */
  #page-wrapper {
    max-width: 49.794em;
  }
}
@media (min-width: 87.5em) {
  /* line 18, ../sass/style.scss */
  #page-wrapper {
    max-width: 36.946em;
  }
}

/* line 23, ../sass/style.scss */
#main-content {
  font-size: 1.563em;
  clear: both;
  clear: both;
}
@media (min-width: 87.5em) {
  /* line 23, ../sass/style.scss */
  #main-content {
    background: red;
  }
}
@media (min-width: 39.125em) {
  /* line 23, ../sass/style.scss */
  #main-content {
    clear: both;
  }
}
@media (min-width: 45.375em) {
  /* line 23, ../sass/style.scss */
  #main-content {
    clear: both;
  }
}
@media (min-width: 75em) {
  /* line 23, ../sass/style.scss */
  #main-content {
    clear: both;
  }
}
@media (min-width: 87.5em) {
  /* line 23, ../sass/style.scss */
  #main-content {
    width: 74.576%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
}
