@charset "UTF-8";
/* line 34, ../sass/aura/_mixins.scss */
#sidebar-first {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.695%;
  margin-left: 1.639%;
  float: none;
}
@media screen and (min-width: 14.4em) {
  /* line 34, ../sass/aura/_mixins.scss */
  #sidebar-first {
    display: inline;
    float: left;
    width: 25%;
    margin-right: 1.316%;
  }
}
@media screen and (min-width: 14.4em) {
  /* line 34, ../sass/aura/_mixins.scss */
  #sidebar-first {
    margin-left: 1.316%;
    float: left;
  }
}

/* line 76, ../sass/aura/_mixins.scss */
#sidebar-second {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.351%;
  margin-left: 1.316%;
  float: none;
}
@media screen and (min-width: 14.4em) {
  /* line 76, ../sass/aura/_mixins.scss */
  #sidebar-second {
    display: inline;
    float: left;
    width: 11.842%;
    margin-right: 1.316%;
  }
}
@media screen and (min-width: 14.4em) {
  /* line 76, ../sass/aura/_mixins.scss */
  #sidebar-second {
    float: right;
    margin-right: -71.053%;
  }
}

/* line 138, ../sass/aura/_mixins.scss */
html {
  font-size: 1.125em;
  line-height: 1.425em;
}

/* line 170, ../sass/aura/_mixins.scss */
img, object, embed, iframe, video, audio {
  max-width: 100%;
}

/* line 176, ../sass/aura/_mixins.scss */
#main-content {
  clear: both;
  margin-left: 1.316%;
  margin-right: 1.316%;
  float: none;
}
@media screen and (min-width: 14.4em) {
  /* line 176, ../sass/aura/_mixins.scss */
  #main-content {
    display: inline;
    float: left;
    width: 57.895%;
    margin-right: 1.316%;
  }
}
@media screen and (min-width: 14.4em) {
  /* line 176, ../sass/aura/_mixins.scss */
  #main-content {
    float: right;
    margin-left: 1.316%;
    margin-left: 0;
    margin-right: 14.474%;
  }
}

/* line 227, ../sass/aura/_mixins.scss */
#page-wrapper {
  *zoom: 1;
  margin: auto;
  width: 53.333em;
  max-width: 100%;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/style-2.scss */
#page-wrapper {
  font-family: 'Poly', serif;
  background-color: red;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.316%, rgba(0, 0, 0, 0)), color-stop(1.316%, rgba(100, 100, 225, 0.25)), color-stop(6.579%, rgba(100, 100, 225, 0.25)), color-stop(6.579%, rgba(0, 0, 0, 0)), color-stop(7.895%, rgba(0, 0, 0, 0)), color-stop(7.895%, rgba(100, 100, 225, 0.25)), color-stop(13.158%, rgba(100, 100, 225, 0.25)), color-stop(13.158%, rgba(0, 0, 0, 0)), color-stop(14.474%, rgba(0, 0, 0, 0)), color-stop(14.474%, rgba(100, 100, 225, 0.25)), color-stop(19.737%, rgba(100, 100, 225, 0.25)), color-stop(19.737%, rgba(0, 0, 0, 0)), color-stop(21.053%, rgba(0, 0, 0, 0)), color-stop(21.053%, rgba(100, 100, 225, 0.25)), color-stop(26.316%, rgba(100, 100, 225, 0.25)), color-stop(26.316%, rgba(0, 0, 0, 0)), color-stop(27.632%, rgba(0, 0, 0, 0)), color-stop(27.632%, rgba(100, 100, 225, 0.25)), color-stop(32.895%, rgba(100, 100, 225, 0.25)), color-stop(32.895%, rgba(0, 0, 0, 0)), color-stop(34.211%, rgba(0, 0, 0, 0)), color-stop(34.211%, rgba(100, 100, 225, 0.25)), color-stop(39.474%, rgba(100, 100, 225, 0.25)), color-stop(39.474%, rgba(0, 0, 0, 0)), color-stop(40.789%, rgba(0, 0, 0, 0)), color-stop(40.789%, rgba(100, 100, 225, 0.25)), color-stop(46.053%, rgba(100, 100, 225, 0.25)), color-stop(46.053%, rgba(0, 0, 0, 0)), color-stop(47.368%, rgba(0, 0, 0, 0)), color-stop(47.368%, rgba(100, 100, 225, 0.25)), color-stop(52.632%, rgba(100, 100, 225, 0.25)), color-stop(52.632%, rgba(0, 0, 0, 0)), color-stop(53.947%, rgba(0, 0, 0, 0)), color-stop(53.947%, rgba(100, 100, 225, 0.25)), color-stop(59.211%, rgba(100, 100, 225, 0.25)), color-stop(59.211%, rgba(0, 0, 0, 0)), color-stop(60.526%, rgba(0, 0, 0, 0)), color-stop(60.526%, rgba(100, 100, 225, 0.25)), color-stop(65.789%, rgba(100, 100, 225, 0.25)), color-stop(65.789%, rgba(0, 0, 0, 0)), color-stop(67.105%, rgba(0, 0, 0, 0)), color-stop(67.105%, rgba(100, 100, 225, 0.25)), color-stop(72.368%, rgba(100, 100, 225, 0.25)), color-stop(72.368%, rgba(0, 0, 0, 0)), color-stop(73.684%, rgba(0, 0, 0, 0)), color-stop(73.684%, rgba(100, 100, 225, 0.25)), color-stop(78.947%, rgba(100, 100, 225, 0.25)), color-stop(78.947%, rgba(0, 0, 0, 0)), color-stop(80.263%, rgba(0, 0, 0, 0)), color-stop(80.263%, rgba(100, 100, 225, 0.25)), color-stop(85.526%, rgba(100, 100, 225, 0.25)), color-stop(85.526%, rgba(0, 0, 0, 0)), color-stop(86.842%, rgba(0, 0, 0, 0)), color-stop(86.842%, rgba(100, 100, 225, 0.25)), color-stop(92.105%, rgba(100, 100, 225, 0.25)), color-stop(92.105%, rgba(0, 0, 0, 0)), color-stop(93.421%, rgba(0, 0, 0, 0)), color-stop(93.421%, rgba(100, 100, 225, 0.25)), color-stop(98.684%, rgba(100, 100, 225, 0.25)), color-stop(98.684%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.316%, rgba(100, 100, 225, 0.25) 1.316%, rgba(100, 100, 225, 0.25) 6.579%, rgba(0, 0, 0, 0) 6.579%, rgba(0, 0, 0, 0) 7.895%, rgba(100, 100, 225, 0.25) 7.895%, rgba(100, 100, 225, 0.25) 13.158%, rgba(0, 0, 0, 0) 13.158%, rgba(0, 0, 0, 0) 14.474%, rgba(100, 100, 225, 0.25) 14.474%, rgba(100, 100, 225, 0.25) 19.737%, rgba(0, 0, 0, 0) 19.737%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 26.316%, rgba(0, 0, 0, 0) 26.316%, rgba(0, 0, 0, 0) 27.632%, rgba(100, 100, 225, 0.25) 27.632%, rgba(100, 100, 225, 0.25) 32.895%, rgba(0, 0, 0, 0) 32.895%, rgba(0, 0, 0, 0) 34.211%, rgba(100, 100, 225, 0.25) 34.211%, rgba(100, 100, 225, 0.25) 39.474%, rgba(0, 0, 0, 0) 39.474%, rgba(0, 0, 0, 0) 40.789%, rgba(100, 100, 225, 0.25) 40.789%, rgba(100, 100, 225, 0.25) 46.053%, rgba(0, 0, 0, 0) 46.053%, rgba(0, 0, 0, 0) 47.368%, rgba(100, 100, 225, 0.25) 47.368%, rgba(100, 100, 225, 0.25) 52.632%, rgba(0, 0, 0, 0) 52.632%, rgba(0, 0, 0, 0) 53.947%, rgba(100, 100, 225, 0.25) 53.947%, rgba(100, 100, 225, 0.25) 59.211%, rgba(0, 0, 0, 0) 59.211%, rgba(0, 0, 0, 0) 60.526%, rgba(100, 100, 225, 0.25) 60.526%, rgba(100, 100, 225, 0.25) 65.789%, rgba(0, 0, 0, 0) 65.789%, rgba(0, 0, 0, 0) 67.105%, rgba(100, 100, 225, 0.25) 67.105%, rgba(100, 100, 225, 0.25) 72.368%, rgba(0, 0, 0, 0) 72.368%, rgba(0, 0, 0, 0) 73.684%, rgba(100, 100, 225, 0.25) 73.684%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80.263%, rgba(100, 100, 225, 0.25) 80.263%, rgba(100, 100, 225, 0.25) 85.526%, rgba(0, 0, 0, 0) 85.526%, rgba(0, 0, 0, 0) 86.842%, rgba(100, 100, 225, 0.25) 86.842%, rgba(100, 100, 225, 0.25) 92.105%, rgba(0, 0, 0, 0) 92.105%, rgba(0, 0, 0, 0) 93.421%, rgba(100, 100, 225, 0.25) 93.421%, rgba(100, 100, 225, 0.25) 98.684%, rgba(0, 0, 0, 0) 98.684%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.316%, rgba(100, 100, 225, 0.25) 1.316%, rgba(100, 100, 225, 0.25) 6.579%, rgba(0, 0, 0, 0) 6.579%, rgba(0, 0, 0, 0) 7.895%, rgba(100, 100, 225, 0.25) 7.895%, rgba(100, 100, 225, 0.25) 13.158%, rgba(0, 0, 0, 0) 13.158%, rgba(0, 0, 0, 0) 14.474%, rgba(100, 100, 225, 0.25) 14.474%, rgba(100, 100, 225, 0.25) 19.737%, rgba(0, 0, 0, 0) 19.737%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 26.316%, rgba(0, 0, 0, 0) 26.316%, rgba(0, 0, 0, 0) 27.632%, rgba(100, 100, 225, 0.25) 27.632%, rgba(100, 100, 225, 0.25) 32.895%, rgba(0, 0, 0, 0) 32.895%, rgba(0, 0, 0, 0) 34.211%, rgba(100, 100, 225, 0.25) 34.211%, rgba(100, 100, 225, 0.25) 39.474%, rgba(0, 0, 0, 0) 39.474%, rgba(0, 0, 0, 0) 40.789%, rgba(100, 100, 225, 0.25) 40.789%, rgba(100, 100, 225, 0.25) 46.053%, rgba(0, 0, 0, 0) 46.053%, rgba(0, 0, 0, 0) 47.368%, rgba(100, 100, 225, 0.25) 47.368%, rgba(100, 100, 225, 0.25) 52.632%, rgba(0, 0, 0, 0) 52.632%, rgba(0, 0, 0, 0) 53.947%, rgba(100, 100, 225, 0.25) 53.947%, rgba(100, 100, 225, 0.25) 59.211%, rgba(0, 0, 0, 0) 59.211%, rgba(0, 0, 0, 0) 60.526%, rgba(100, 100, 225, 0.25) 60.526%, rgba(100, 100, 225, 0.25) 65.789%, rgba(0, 0, 0, 0) 65.789%, rgba(0, 0, 0, 0) 67.105%, rgba(100, 100, 225, 0.25) 67.105%, rgba(100, 100, 225, 0.25) 72.368%, rgba(0, 0, 0, 0) 72.368%, rgba(0, 0, 0, 0) 73.684%, rgba(100, 100, 225, 0.25) 73.684%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80.263%, rgba(100, 100, 225, 0.25) 80.263%, rgba(100, 100, 225, 0.25) 85.526%, rgba(0, 0, 0, 0) 85.526%, rgba(0, 0, 0, 0) 86.842%, rgba(100, 100, 225, 0.25) 86.842%, rgba(100, 100, 225, 0.25) 92.105%, rgba(0, 0, 0, 0) 92.105%, rgba(0, 0, 0, 0) 93.421%, rgba(100, 100, 225, 0.25) 93.421%, rgba(100, 100, 225, 0.25) 98.684%, rgba(0, 0, 0, 0) 98.684%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.316%, rgba(100, 100, 225, 0.25) 1.316%, rgba(100, 100, 225, 0.25) 6.579%, rgba(0, 0, 0, 0) 6.579%, rgba(0, 0, 0, 0) 7.895%, rgba(100, 100, 225, 0.25) 7.895%, rgba(100, 100, 225, 0.25) 13.158%, rgba(0, 0, 0, 0) 13.158%, rgba(0, 0, 0, 0) 14.474%, rgba(100, 100, 225, 0.25) 14.474%, rgba(100, 100, 225, 0.25) 19.737%, rgba(0, 0, 0, 0) 19.737%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 26.316%, rgba(0, 0, 0, 0) 26.316%, rgba(0, 0, 0, 0) 27.632%, rgba(100, 100, 225, 0.25) 27.632%, rgba(100, 100, 225, 0.25) 32.895%, rgba(0, 0, 0, 0) 32.895%, rgba(0, 0, 0, 0) 34.211%, rgba(100, 100, 225, 0.25) 34.211%, rgba(100, 100, 225, 0.25) 39.474%, rgba(0, 0, 0, 0) 39.474%, rgba(0, 0, 0, 0) 40.789%, rgba(100, 100, 225, 0.25) 40.789%, rgba(100, 100, 225, 0.25) 46.053%, rgba(0, 0, 0, 0) 46.053%, rgba(0, 0, 0, 0) 47.368%, rgba(100, 100, 225, 0.25) 47.368%, rgba(100, 100, 225, 0.25) 52.632%, rgba(0, 0, 0, 0) 52.632%, rgba(0, 0, 0, 0) 53.947%, rgba(100, 100, 225, 0.25) 53.947%, rgba(100, 100, 225, 0.25) 59.211%, rgba(0, 0, 0, 0) 59.211%, rgba(0, 0, 0, 0) 60.526%, rgba(100, 100, 225, 0.25) 60.526%, rgba(100, 100, 225, 0.25) 65.789%, rgba(0, 0, 0, 0) 65.789%, rgba(0, 0, 0, 0) 67.105%, rgba(100, 100, 225, 0.25) 67.105%, rgba(100, 100, 225, 0.25) 72.368%, rgba(0, 0, 0, 0) 72.368%, rgba(0, 0, 0, 0) 73.684%, rgba(100, 100, 225, 0.25) 73.684%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80.263%, rgba(100, 100, 225, 0.25) 80.263%, rgba(100, 100, 225, 0.25) 85.526%, rgba(0, 0, 0, 0) 85.526%, rgba(0, 0, 0, 0) 86.842%, rgba(100, 100, 225, 0.25) 86.842%, rgba(100, 100, 225, 0.25) 92.105%, rgba(0, 0, 0, 0) 92.105%, rgba(0, 0, 0, 0) 93.421%, rgba(100, 100, 225, 0.25) 93.421%, rgba(100, 100, 225, 0.25) 98.684%, rgba(0, 0, 0, 0) 98.684%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 1.316%, rgba(100, 100, 225, 0.25) 1.316%, rgba(100, 100, 225, 0.25) 6.579%, rgba(0, 0, 0, 0) 6.579%, rgba(0, 0, 0, 0) 7.895%, rgba(100, 100, 225, 0.25) 7.895%, rgba(100, 100, 225, 0.25) 13.158%, rgba(0, 0, 0, 0) 13.158%, rgba(0, 0, 0, 0) 14.474%, rgba(100, 100, 225, 0.25) 14.474%, rgba(100, 100, 225, 0.25) 19.737%, rgba(0, 0, 0, 0) 19.737%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 26.316%, rgba(0, 0, 0, 0) 26.316%, rgba(0, 0, 0, 0) 27.632%, rgba(100, 100, 225, 0.25) 27.632%, rgba(100, 100, 225, 0.25) 32.895%, rgba(0, 0, 0, 0) 32.895%, rgba(0, 0, 0, 0) 34.211%, rgba(100, 100, 225, 0.25) 34.211%, rgba(100, 100, 225, 0.25) 39.474%, rgba(0, 0, 0, 0) 39.474%, rgba(0, 0, 0, 0) 40.789%, rgba(100, 100, 225, 0.25) 40.789%, rgba(100, 100, 225, 0.25) 46.053%, rgba(0, 0, 0, 0) 46.053%, rgba(0, 0, 0, 0) 47.368%, rgba(100, 100, 225, 0.25) 47.368%, rgba(100, 100, 225, 0.25) 52.632%, rgba(0, 0, 0, 0) 52.632%, rgba(0, 0, 0, 0) 53.947%, rgba(100, 100, 225, 0.25) 53.947%, rgba(100, 100, 225, 0.25) 59.211%, rgba(0, 0, 0, 0) 59.211%, rgba(0, 0, 0, 0) 60.526%, rgba(100, 100, 225, 0.25) 60.526%, rgba(100, 100, 225, 0.25) 65.789%, rgba(0, 0, 0, 0) 65.789%, rgba(0, 0, 0, 0) 67.105%, rgba(100, 100, 225, 0.25) 67.105%, rgba(100, 100, 225, 0.25) 72.368%, rgba(0, 0, 0, 0) 72.368%, rgba(0, 0, 0, 0) 73.684%, rgba(100, 100, 225, 0.25) 73.684%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80.263%, rgba(100, 100, 225, 0.25) 80.263%, rgba(100, 100, 225, 0.25) 85.526%, rgba(0, 0, 0, 0) 85.526%, rgba(0, 0, 0, 0) 86.842%, rgba(100, 100, 225, 0.25) 86.842%, rgba(100, 100, 225, 0.25) 92.105%, rgba(0, 0, 0, 0) 92.105%, rgba(0, 0, 0, 0) 93.421%, rgba(100, 100, 225, 0.25) 93.421%, rgba(100, 100, 225, 0.25) 98.684%, rgba(0, 0, 0, 0) 98.684%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 1.316%, rgba(100, 100, 225, 0.25) 1.316%, rgba(100, 100, 225, 0.25) 6.579%, rgba(0, 0, 0, 0) 6.579%, rgba(0, 0, 0, 0) 7.895%, rgba(100, 100, 225, 0.25) 7.895%, rgba(100, 100, 225, 0.25) 13.158%, rgba(0, 0, 0, 0) 13.158%, rgba(0, 0, 0, 0) 14.474%, rgba(100, 100, 225, 0.25) 14.474%, rgba(100, 100, 225, 0.25) 19.737%, rgba(0, 0, 0, 0) 19.737%, rgba(0, 0, 0, 0) 21.053%, rgba(100, 100, 225, 0.25) 21.053%, rgba(100, 100, 225, 0.25) 26.316%, rgba(0, 0, 0, 0) 26.316%, rgba(0, 0, 0, 0) 27.632%, rgba(100, 100, 225, 0.25) 27.632%, rgba(100, 100, 225, 0.25) 32.895%, rgba(0, 0, 0, 0) 32.895%, rgba(0, 0, 0, 0) 34.211%, rgba(100, 100, 225, 0.25) 34.211%, rgba(100, 100, 225, 0.25) 39.474%, rgba(0, 0, 0, 0) 39.474%, rgba(0, 0, 0, 0) 40.789%, rgba(100, 100, 225, 0.25) 40.789%, rgba(100, 100, 225, 0.25) 46.053%, rgba(0, 0, 0, 0) 46.053%, rgba(0, 0, 0, 0) 47.368%, rgba(100, 100, 225, 0.25) 47.368%, rgba(100, 100, 225, 0.25) 52.632%, rgba(0, 0, 0, 0) 52.632%, rgba(0, 0, 0, 0) 53.947%, rgba(100, 100, 225, 0.25) 53.947%, rgba(100, 100, 225, 0.25) 59.211%, rgba(0, 0, 0, 0) 59.211%, rgba(0, 0, 0, 0) 60.526%, rgba(100, 100, 225, 0.25) 60.526%, rgba(100, 100, 225, 0.25) 65.789%, rgba(0, 0, 0, 0) 65.789%, rgba(0, 0, 0, 0) 67.105%, rgba(100, 100, 225, 0.25) 67.105%, rgba(100, 100, 225, 0.25) 72.368%, rgba(0, 0, 0, 0) 72.368%, rgba(0, 0, 0, 0) 73.684%, rgba(100, 100, 225, 0.25) 73.684%, rgba(100, 100, 225, 0.25) 78.947%, rgba(0, 0, 0, 0) 78.947%, rgba(0, 0, 0, 0) 80.263%, rgba(100, 100, 225, 0.25) 80.263%, rgba(100, 100, 225, 0.25) 85.526%, rgba(0, 0, 0, 0) 85.526%, rgba(0, 0, 0, 0) 86.842%, rgba(100, 100, 225, 0.25) 86.842%, rgba(100, 100, 225, 0.25) 92.105%, rgba(0, 0, 0, 0) 92.105%, rgba(0, 0, 0, 0) 93.421%, rgba(100, 100, 225, 0.25) 93.421%, rgba(100, 100, 225, 0.25) 98.684%, rgba(0, 0, 0, 0) 98.684%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
}
@media screen and (max-width: 1000px) {
  /* line 22, ../sass/style-2.scss */
  #page-wrapper {
    background-color: green;
  }
}
@media print and (width: 1000px) {
  /* line 22, ../sass/style-2.scss */
  #page-wrapper {
    background-color: yellow;
  }
}

/* line 37, ../sass/style-2.scss */
#main-content {
  color: white;
  background-color: red;
}
@media screen and (min-width: 14.4em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: orange;
  }
}
@media screen and (min-width: 23.3em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: green;
  }
}
@media screen and (min-width: 37.7em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: blue;
  }
}
@media screen and (min-width: 61em) {
  /* line 37, ../sass/style-2.scss */
  #main-content {
    background-color: purple;
  }
}

/* line 56, ../sass/style-2.scss */
#sidebar-first {
  color: black;
}

/* line 61, ../sass/style-2.scss */
#sidebar-second {
  color: black;
}
